<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{1937.0,1874.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>Spinne.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>Spinne01.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{426.0,361.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,32.0},{426.0,361.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1285.0,1509.0},{426.0,361.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Spinne02.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{426.0,369.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,28.0},{426.0,369.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1285.0,1138.0},{426.0,369.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Spinne03.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{426.0,369.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,28.0},{426.0,369.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1211.0,767.0},{426.0,369.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Spinne04.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{426.0,377.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,24.0},{426.0,377.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1200.0,388.0},{426.0,377.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Spinne05.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{426.0,369.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,28.0},{426.0,369.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{857.0,1179.0},{426.0,369.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Spinne06.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{426.0,399.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,13.0},{426.0,399.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{430.0,2.0},{426.0,399.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Spinne07.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{426.0,405.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,10.0},{426.0,405.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,419.0},{426.0,405.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Spinne08.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{425.0,403.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,11.0},{425.0,403.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1231.0},{425.0,403.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Spinne09.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{426.0,403.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,11.0},{426.0,403.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,826.0},{426.0,403.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Spinne10.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{426.0,399.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,13.0},{426.0,399.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{429.0,1231.0},{426.0,399.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Spinne11.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{426.0,415.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,5.0},{426.0,415.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{426.0,415.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Spinne12.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{383.0,383.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{21.0,21.0},{383.0,383.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{826.0,794.0},{383.0,383.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Spinne13.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{374.0,383.0}</string>
            <key>spriteOffset</key>
            <string>{1.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{27.0,21.0},{374.0,383.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{430.0,795.0},{374.0,383.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Spinne14.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{372.0,389.0}</string>
            <key>spriteOffset</key>
            <string>{-9.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{18.0,18.0},{372.0,389.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{826.0,403.0},{372.0,389.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Spinne15.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{394.0,390.0}</string>
            <key>spriteOffset</key>
            <string>{1.0,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{17.0,16.0},{394.0,390.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{430.0,403.0},{394.0,390.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Spinne16.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{390.0,384.0}</string>
            <key>spriteOffset</key>
            <string>{3.0,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{21.0,22.0},{390.0,384.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{858.0,2.0},{390.0,384.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Spinne17.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{338.0,370.0}</string>
            <key>spriteOffset</key>
            <string>{2.0,-6.0}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{46.0,34.0},{338.0,370.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1595.0,2.0},{338.0,370.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Spinne18.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{343.0,371.0}</string>
            <key>spriteOffset</key>
            <string>{4.5,-10.5}</string>
            <key>spriteSourceSize</key>
            <string>{426.0,426.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{46.0,38.0},{343.0,371.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1250.0,2.0},{343.0,371.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1628.0,374.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
